# Hammerspoon
hammerspoon/.config/hammerspoon/Spoons/EmmyLua.spoon/annotations/

# Karabiner
karabiner/.config/karabiner/automatic_backups

# Lazygit
lazygit/.config/lazygit/state.yml

# Zsh
zsh/.config/zsh/.zcompcache/
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zsh_sessions/
zsh/.config/zsh/.zsh_history
