[submodule "private"]
	path = private
	url = git@github.com:Fau818/dotfiles-private.git
	branch = main
	update = merge
	shallow = true

[submodule "nvim"]
	path = nvim/.config/nvim
	url = git@github.com:Fau818/nvim-config.git
	branch = main
	update = merge
	shallow = true
